body{
    background-color: rgb(0, 4, 8);
}
#backgroundPhoto{
    margin: -10px 0px 0px -10px;
    position: fixed;
    width: 100%;
    opacity: 0.4;
    visibility: visible;
    background-size: cover;
    -webkit-user-drag: none;
}
#q{
    position: fixed;
    color: rgb(255, 94, 0);
    font-size: 45px;
    font-family:  "lato";
    margin: 20px 0px 0px 300px;
}
.question{
    position: fixed;
    color: white;
    font-family: "lato";
    font-size: 38px;
    margin: 28px 0px 0px 360px;
}
.test{
    position: fixed;
    margin: 60px 0px 0px 240px ;
    width: 65%;
    -webkit-user-drag: none;
}
.answer{
    text-align: center;
    position: fixed;
    font-family: "lato";
    color: white;
    font-size: 20px;
    width: 280px;
    height: 35px;
    margin: 580px 0px 0px 543px;
    outline: none;
    border: none;
    background-color: rgb(16, 36, 49);
    box-shadow: 0px 2px 0px 0px rgb(255, 94, 0);
    text-transform: capitalize;
}
.next{
    position: fixed;
    width: 200px;
    height: 39px;
    background-color: rgb(255, 94, 0);
    margin: 580px 0px 0px 853px;
    color: rgb(46, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    border: none;
}
.next:hover{
    background-color: rgb(211, 67, 0);
    box-shadow: 0px 0px 3px 2px rgb(255, 72, 0);
}
.back{
    position: fixed;
    width: 200px;
    height: 39px;
    background-color: rgb(255, 94, 0);
    margin: 580px 0px 0px 318px;
    color: rgb(46, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    border: none;
}
.back:hover{
    background-color: rgb(211, 67, 0);
    box-shadow: 0px 0px 3px 2px rgb(255, 72, 0);
}
#textOneResult{
    position: fixed;
    color: white;
    font-size: 40px;
    margin: 70px 0px 0px 390px;
}
#result{
    position: fixed;
    color: rgb(255, 94, 0);
    font-size: 45px;
    margin: 200px 0px 0px 650px;
}
#clearThings{
    position: fixed;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    margin: 280px 0px 0px 340px;
}
#answerEightOne{
    text-align: center;
    position: fixed;
    font-family: "lato";
    color: white;
    font-size: 20px;
    width: 125px;
    height: 35px;
    margin: 580px 0px 0px 543px;
    outline: none;
    border: none;
    background-color: rgb(16, 36, 49);
    box-shadow: 0px 2px 0px 0px rgb(255, 94, 0);
    text-transform: capitalize;
}
#answerEightTwo{
    text-align: center;
    position: fixed;
    font-family: "lato";
    color: white;
    font-size: 20px;
    width: 125px;
    height: 35px;
    margin: 580px 0px 0px 693px;
    outline: none;
    border: none;
    background-color: rgb(16, 36, 49);
    box-shadow: 0px 2px 0px 0px rgb(255, 94, 0);
    text-transform: capitalize;
}
#youScored{
    color: white;
    position: fixed;
    font-size: 30px;
    margin: 150px 0px 0px 620px;
}
/**/
#testThree{
    margin: 80px 0px 0px 350px;
    width: 45%;
}
#testFour{
    margin: 80px 0px 0px 230px;
}
#questionFive{
    font-size: 30px;
}
#testFive{
    margin: 90px 0px 0px 230px;
}
#testNine{
    margin: 90px 0px 0px 230px;
}
#testSix{
    margin: 75px 0px 0px 230px;
}
#testSeven{
    margin: 75px 0px 0px 230px;
}
#testOne{
    margin: 76px 0px 0px 230px;
}
#answerFifteen{
    text-transform: lowercase;
}
#testTwo{
    margin: 80px 0px 0px 245px;
}
#testTen{
    margin: 75px 0px 0px 245px;
}
#testEleven{
    margin: 75px 0px 0px 240px;
}
#testTwelve{
    margin: 75px 0px 0px 227px;
}
#testThirteen{
    margin: 75px 0px 0px 242px;
}
#testFourteen{
    margin: 75px 0px 0px 242px;
}
#testFifteen{
    margin: 75px 0px 0px 242px;
}
#testOneT{
    position: fixed;
    visibility: visible;
}
#resultT{
    position: fixed;
    visibility: hidden;
}
#testTwoT{
    position: fixed;
    visibility: hidden;
}
#testThreeT{
    position: fixed;
    visibility: hidden;
}
#testFourT{
    position: fixed;
    visibility: hidden;
}
#testFiveT{
    position: fixed;
    visibility: hidden;
}
#testSixT{
    position: fixed;
    visibility: hidden;
}
#testSevenT{
    position: fixed;
    visibility: hidden;
}
#testEightT{
    position: fixed;
    visibility: hidden;
}
#testNineT{
    position: fixed;
    visibility: hidden;
}
#testTenT{
    position: fixed;
    visibility: hidden;
}
#testElevenT{
    position: fixed;
    visibility: hidden;
}
#testTwelveT{
    position: fixed;
    visibility: hidden;
}
#testThirteenT{
    position: fixed;
    visibility: hidden;
}
#testFourteenT{
    position: fixed;
    visibility: hidden;
}
#testFifteenT{
    position: fixed;
    visibility: hidden;
}


#testBackground{
    width: 100%;
    position: fixed;
    visibility: hidden;
    
}
#iqstatics{
    position: fixed;
    width: 27%;
    margin: 380px 0px 0px 500px;
    border-radius: 10px;
}
/******************************************/
@media only screen and (max-width:700px){

    #iqstatics{
        width: 90%;
        margin: 330px 0px 0px 10px;
        border-radius: 10px;
    }

    #backgoundPhoto{
        visibility: hidden;
    }
    #testBackground{
        visibility: visible;
        margin: -7.8px 0px 0px -7.8px;
    }
    #q{
        font-size: 22px;
        margin: 10px 0px 0px 20px;
    }
    #testOne{
        margin: 30px 0px 0px -12px;
        width: 103%;
    }
    #testTwo{
        margin: 30px 0px 0px -12px;
        width: 103%;
    }
    #testThree{
        margin: 40px 0px 0px 48px;
        width: 70%;
    }
    #questionThree{
        font-size: 14px;
    }
    #testFour{
        margin: 40px 0px 0px -12px;
        width: 103%;
    }
    #qusetionFour{
        font-size: 20px;
    }
    #testFive{
        margin: 50px 0px 0px -12px;
        width: 100%;
    }
    #questionFive{
        font-size: 13px;
    }
    #testSix{
        margin: 30px 0px 0px -18px;
        width: 103%;
    }
    #testSeven{
        margin: 30px 0px 0px -12px;
        width: 103%;
    }
    #testEight{
        margin: 40px 0px 0px -8px;
        width: 100%;
    }
    #answerEightOne{
        margin: 270px 0px 0px 10px;
        width: 150px;
    }
    #answerEightTwo{
        margin: 255px 0px 0px 170px;
        width: 150px;
    }
    #testNine{
        margin: 40px 0px 0px -8px;
        width: 100%;
    }
    #testTen{
        margin: 35px 0px 0px -8px;
        width: 100%;
    }
    #testEleven{
        margin: 35px 0px 0px -8px;
        width: 100%;
    }
    #testTwelve{
        margin: 35px 0px 0px -8px;
        width: 100%;
    }
    #testThirteen{
        margin: 35px 0px 0px -8px;
        width: 100%;
    }
    #testFourteen{
        margin: 36px 0px 0px -8px;
        width: 100%;
    }
    #testFifteen{
        margin: 38px 0px 0px -8px;
        width: 100%;
    }
    #questionFifteen{
        font-size: 20px;
    }
    #textOneResult{
        font-size: 20px;
        margin: 50px 0px 0px 15px;
    }
    #youScored{
        font-size: 20px;
        margin: 90px 0px 0px 115px;
    }
    #result{
        font-size: 40px;
        margin: 130px 0px 0px 150px;
    }
    #clearThings{
        font-size: 18px;
        margin: 200px 0px 0px 0px;
    }
    .question{
        margin: 17px 0px 0px 50px;
        font-size: 15px;
    }
    .answer{
        margin: 270px 0px 0px 10px;
        width: 310px;
    }
    .next{
        margin: 320px 0px 0px 225px;
        width: 100px;
    }
    .back{
        margin: 320px 0px 0px 10px;
        width: 100px;
    }
}
