body{
    background-color: rgb(0, 0, 0);
}
#indexBackground{
    position: fixed;
    width: 102.5%;
    margin: -1% 0% 0% -2.6%;
    opacity: 0.4;
    -webkit-user-drag: none;
}
#backgroundPhone{
    position: fixed;
    visibility: hidden;
    width: 100%;
}
#title {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -200px;
    padding-left: 10px;
    color: #ff8800;
}
#textOne{
    position: fixed;
    text-align: center;
    color: #b96635;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 130%;
    margin: 220px 0px 0px 570px;
}
#textTwo{
    position: fixed;
    text-align: center;
    color: #b96635;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 130%;
    margin: 255px 0px 0px 495px;
}
::placeholder{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 14px;
}
#continue{
    position: fixed;
    background-color: #3a1200;
    color: white;
    border: none;
    box-shadow: 0px 0px 1px 1px white;
    margin: 450px 0px 0px 613px;
    border-radius: 10px;
    width: 100px;
    height: 23px;
}
#continue:hover{
    background-color: rgb(255, 119, 8);
    box-shadow: 0px 0px 0px 0px;
}
#testText{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    margin: 300px 0px 0px 510px;
}

@media only screen and (max-width:700px){
    
    #indexBackground{
        visibility: hidden;
    }
    #backgroundPhone{
        visibility: visible;
        margin: -7.8px 0px 0px -7.8px;
        opacity: 0.5;
    }
    #title{
        font-size: 29px;
        margin: -200px 0px 0px 1px;
    }
    #textOne{
        font-size: 20px;
        margin: 155px 0px 0px 80px;
    }
    #textTwo{
        font-size: 20px;
        margin: 190px 0px 0px 10px;
    }
    #testText{
        margin: 230px 0px 0px 10px;
    }
    #continue{
        margin: 350px 0px 0px 120px;
    }
}

